<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h2>Post #<%= parseInt(id) + 1 %></h2>
    <form method="POST" action="/blog-posts/<%= id %>?_method=PUT">
        <input type="text" value="<%= blogPost.body %>" name="blogPost"></input>
        <button type="submit">Update</button>
    </form>
</body>
</html>